</article>
</div>
<div class="span4 right">
    <div class="widget_body">
    <div class="row-fluid">
        <form class="form-search form-inline" id="search-form" method="get" action="/search">
            <input type="text" name="keyword" placeholder="标题" class="input-large search-query">
            <button type="submit" class="btn btn-link btn-small"><i class="icon-search"></i></button>
        </form>
    </div>
    </div>
</div>